.nav {	
//	display: none;
	list-style-type: none;
	padding: 0;
	margin: 0;
	
	li {
		text-align: center;	
		padding: 20px 0;
	}
	
	a {
		text-decoration: none;
		text-transform: uppercase;
		color: ;
		font-family: ;
	}
}