.promo {
	text-align: center;
	padding-top: 45px;
	
	h2 {
		font-size: 24px;
		margin-bottom: 35px;
	}
	
	&__title:first-of-type {
		margin-top: 120px;
	}
	
	&__text {
		margin: 20px 32px 40px;
	}
	
}